@media screen and (min-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden; } }

@media screen and (max-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden; } }

@media (min-width: 2100px) {
  body {
    font-size: 21px !important; } }

@media (min-width: 2200px) {
  body {
    font-size: 22px !important; } }

@media (min-width: 2300px) {
  body {
    font-size: 23px !important; } }

@media (min-width: 2400px) {
  body {
    font-size: 24px !important; } }

@media (min-width: 2500px) {
  body {
    font-size: 25px !important; } }

@media (min-width: 2600px) {
  body {
    font-size: 26px !important; } }

@media (min-width: 2700px) {
  body {
    font-size: 27px !important; } }

@media (min-width: 2800px) {
  body {
    font-size: 28px !important; } }

@media (min-width: 2900px) {
  body {
    font-size: 29px !important; } }

@media (min-width: 3000px) {
  body {
    font-size: 30px !important; } }

@media (min-width: 3100px) {
  body {
    font-size: 31px !important; } }

@media (min-width: 3200px) {
  body {
    font-size: 32px !important; } }

@media (min-width: 3300px) {
  body {
    font-size: 33px !important; } }

@media (min-width: 3400px) {
  body {
    font-size: 34px !important; } }

@media (min-width: 3500px) {
  body {
    font-size: 35px !important; } }

@media (min-width: 3600px) {
  body {
    font-size: 36px !important; } }

@media (min-width: 3700px) {
  body {
    font-size: 37px !important; } }

@media (min-width: 3800px) {
  body {
    font-size: 38px !important; } }

@media (min-width: 3900px) {
  body {
    font-size: 39px !important; } }

@media (min-width: 4000px) {
  body {
    font-size: 40px !important; } }

@media (min-width: 4100px) {
  body {
    font-size: 41px !important; } }

@media (min-width: 4200px) {
  body {
    font-size: 42px !important; } }

@media (min-width: 4300px) {
  body {
    font-size: 43px !important; } }

@media (min-width: 4400px) {
  body {
    font-size: 44px !important; } }

@media (min-width: 4500px) {
  body {
    font-size: 45px !important; } }

@media (min-width: 4600px) {
  body {
    font-size: 46px !important; } }

@media (min-width: 4700px) {
  body {
    font-size: 47px !important; } }

@media (min-width: 4800px) {
  body {
    font-size: 48px !important; } }

@media (min-width: 4900px) {
  body {
    font-size: 49px !important; } }

@media (min-width: 5000px) {
  body {
    font-size: 50px !important; } }

@media (min-width: 5100px) {
  body {
    font-size: 51px !important; } }

@media (min-width: 5200px) {
  body {
    font-size: 52px !important; } }

@media (min-width: 5300px) {
  body {
    font-size: 53px !important; } }

@media (min-width: 5400px) {
  body {
    font-size: 54px !important; } }

@media (min-width: 5500px) {
  body {
    font-size: 55px !important; } }

@media (min-width: 5600px) {
  body {
    font-size: 56px !important; } }

@media (min-width: 5700px) {
  body {
    font-size: 57px !important; } }

@media (min-width: 5800px) {
  body {
    font-size: 58px !important; } }

@media (min-width: 5900px) {
  body {
    font-size: 59px !important; } }

@media (min-width: 6000px) {
  body {
    font-size: 60px !important; } }

@media (min-width: 6100px) {
  body {
    font-size: 61px !important; } }

@media (min-width: 6200px) {
  body {
    font-size: 62px !important; } }

@media (min-width: 6300px) {
  body {
    font-size: 63px !important; } }

@media (min-width: 6400px) {
  body {
    font-size: 64px !important; } }

@media (min-width: 6500px) {
  body {
    font-size: 65px !important; } }

@media (min-width: 6600px) {
  body {
    font-size: 66px !important; } }

@media (min-width: 6700px) {
  body {
    font-size: 67px !important; } }

@media (min-width: 6800px) {
  body {
    font-size: 68px !important; } }

@media (min-width: 6900px) {
  body {
    font-size: 69px !important; } }

@media (min-width: 7000px) {
  body {
    font-size: 70px !important; } }

@media (min-width: 7100px) {
  body {
    font-size: 71px !important; } }

@media (min-width: 7200px) {
  body {
    font-size: 72px !important; } }

@media (min-width: 7300px) {
  body {
    font-size: 73px !important; } }

@media (min-width: 7400px) {
  body {
    font-size: 74px !important; } }

@media (min-width: 7500px) {
  body {
    font-size: 75px !important; } }

@media (min-width: 7600px) {
  body {
    font-size: 76px !important; } }

@media (min-width: 7700px) {
  body {
    font-size: 77px !important; } }

@media (min-width: 7800px) {
  body {
    font-size: 78px !important; } }

@media (min-width: 7900px) {
  body {
    font-size: 79px !important; } }

@media (min-width: 8000px) {
  body {
    font-size: 80px !important; } }

@media screen and (max-width: 1024px) {
  .header__center__menu .nav-item {
    padding: 0 5px; }
  .about__bottom {
    margin-top: -9.85em; }
  .about__bottom__text p {
    font-size: 0.65em; }
  .footer__left, .footer__right {
    display: none; } }

@media screen and (max-width: 768px) {
  .header__top__lang {
    text-align: center; }
  .header__center__menu .nav-link {
    padding: 0.5em; }
  .sb-search.sb-search-open, .no-js .sb-search {
    width: 100%; }
  .about__header {
    padding-top: 2em; }
  .about__bottom {
    margin-top: -11em; }
  .client__button {
    height: 100%; }
  .footer__center {
    padding-top: 0; }
  .footer__contact, .footer__about {
    padding-left: 0; } }

@media screen and (max-width: 375px) {
  .express__content h1,
  .parcel__content h1,
  .logist__content h1,
  .mail__content h1,
  .press__content h1,
  .about__content h1 {
    font-size: 2.25em; }
  .express__btn .btn,
  .parcel__btn .btn,
  .logist__btn .btn,
  .mail__btn .btn,
  .press__btn .btn,
  .about__btn .btn {
    margin-right: 0.25em; }
  .about__header h1 {
    font-size: 1.5em; }
  .delivery__poster {
    width: 100%;
    height: inherit; }
    .delivery__poster img {
      width: 100%; }
  .delivery__poster__football {
    width: 100%; }
    .delivery__poster__football:before {
      height: 100%; }
    .delivery__poster__football img {
      width: 100%; }
  .features__text h3 {
    line-height: inherit; }
  .client__button {
    margin-top: 1em;
    height: 6.5em; }
  .footer__contact, .footer__social, .footer__about {
    padding-left: 2.25em; } }
