@import url(../css/bootstrap.css);
@import url(../css/bootstrap-grid.min.css);
@import url(../fonts/poppins/poppins.css);
body {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

.header__top {
  background-color: #ba0000;
  padding: 10px 0;
  font-size: 0.7em;
  line-height: 1.71;
  letter-spacing: 0.021em; }
  .header__top a {
    color: #ffffff; }

.button__lang, .button__profile {
  background: transparent;
  color: #ffffff;
  padding-left: 0;
  padding-right: 0; }

.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none; }
  .dropdown-toggle:hover {
    color: #ffffff; }
  .dropdown-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ffffff; }

.header__top__lang img {
  width: 1em; }

.header__tl__menu {
  background-color: #ffcc00;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .header__tl__menu .dropdown-item {
    background-color: transparent;
    color: #ffffff;
    display: block;
    padding: 0 0.75em; }
    .header__tl__menu .dropdown-item:hover {
      color: #130e27;
      text-decoration: none; }

.dropdown-toggle:after {
  background-image: url(../img/header_top_icon.png);
  width: 9px;
  height: 5px;
  border: 0; }

.header__top .dropdown-toggle[aria-expanded=true]:after {
  background-image: url(../img/header_top_icon.png); }

.dropdown-toggle[aria-expanded=true]:after {
  background: url(../img/header_bottom_icon.png);
  width: 9px;
  height: 5px;
  border: 0; }

.header__top__contact .btn {
  padding-left: 0;
  padding-right: 0; }

.header__top__profile .dropdown-item {
  text-align: center; }

.header__top__profile img {
  width: 2.5em;
  height: 2.5em; }

.header__center {
  background-color: #ffcc00;
  font-size: 0.7em;
  line-height: 1.71;
  letter-spacing: 0.021em; }
  .header__center .navbar {
    padding: 0; }

.header__center__menu {
  text-transform: uppercase;
  letter-spacing: 0.021em;
  font-weight: bold; }
  .header__center__menu .active {
    border-bottom: 0.2em solid #ba0000; }
  .header__center__menu .nav-item {
    padding: 0 10px; }
  .header__center__menu .nav-link {
    color: #ba0000;
    padding: 50px 10px; }

.sb-search {
  float: right;
  border-radius: 2.5em;
  position: relative;
  width: 0%;
  min-width: 50px;
  height: 50px;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden; }

.search_second {
  border-radius: 2.5em;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #ba0000;
  height: 50px;
  width: 100%;
  margin: 0;
  z-index: 10;
  padding: 1em 0 1em 1em;
  color: #fff; }

.search_second::-webkit-input-placeholder {
  color: #fff; }

.search_second:-moz-placeholder {
  color: #fff; }

.search_second::-moz-placeholder {
  color: #fff; }

.search_second:-ms-input-placeholder {
  color: #fff; }

.search_button_third,
.search_third {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  cursor: pointer; }

.search_button_third {
  background: #ba0000;
  z-index: 90; }

.search_button_third img {
  position: absolute;
  top: 35%;
  left: 35%; }

.sb-search.sb-search-open,
.no-js .sb-search {
  width: 20%; }

.header__bottom {
  position: relative;
  background-image: url(../img/Layer-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%; }

.header__bottom:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(45deg, #ba0000, rgba(255, 204, 0, 0.01) 99%);
  background-image: -o-linear-gradient(45deg, #ba0000, rgba(255, 204, 0, 0.01) 99%);
  background-image: linear-gradient(45deg, #ba0000, rgba(255, 204, 0, 0.01) 99%); }

.header__bottom__content {
  min-height: 40em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.express__content,
.parcel__content,
.logist__content,
.mail__content,
.press__content,
.about__content {
  color: #ffffff; }
  .express__content h1,
  .parcel__content h1,
  .logist__content h1,
  .mail__content h1,
  .press__content h1,
  .about__content h1 {
    font-size: 3.5em;
    font-weight: bold;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.105em;
    margin: 0; }
  .express__content hr,
  .parcel__content hr,
  .logist__content hr,
  .mail__content hr,
  .press__content hr,
  .about__content hr {
    width: 5em;
    background-color: #ffcc00;
    padding-top: 0.2em;
    margin: 2em 0;
    border: 0; }
  .express__content p,
  .parcel__content p,
  .logist__content p,
  .mail__content p,
  .press__content p,
  .about__content p {
    color: #ffcc00;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.03em; }
  .express__content h4,
  .parcel__content h4,
  .logist__content h4,
  .mail__content h4,
  .press__content h4,
  .about__content h4 {
    font-size: 1em;
    margin-top: 40px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase; }
  .express__content span,
  .parcel__content span,
  .logist__content span,
  .mail__content span,
  .press__content span,
  .about__content span {
    color: #ffcc00;
    padding: 0 1em; }

.express__btn,
.parcel__btn,
.logist__btn,
.mail__btn,
.press__btn,
.about__btn {
  padding-top: 20px; }
  .express__btn .btn,
  .parcel__btn .btn,
  .logist__btn .btn,
  .mail__btn .btn,
  .press__btn .btn,
  .about__btn .btn {
    border-radius: 2.5em;
    background-color: transparent;
    color: #ffffff;
    font-size: 0.6em;
    line-height: 2.5;
    letter-spacing: 0.06em;
    padding: 8px 30px;
    border: 2px solid #ffffff;
    margin-top: 20px;
    margin-right: 20px;
    text-transform: uppercase; }
    .express__btn .btn:hover,
    .parcel__btn .btn:hover,
    .logist__btn .btn:hover,
    .mail__btn .btn:hover,
    .press__btn .btn:hover,
    .about__btn .btn:hover {
      background-color: #ffcc00;
      color: #ba0000;
      border: 2px solid #ffcc00;
      -webkit-box-shadow: 0px 10px 18px 0 rgba(255, 204, 0, 0.4);
      box-shadow: 0px 10px 18px 0 rgba(255, 204, 0, 0.4); }

.services {
  padding: 5em 0; }

.services__header {
  position: relative; }
  .services__header h1 {
    font-size: 7.5em;
    font-weight: bold;
    line-height: 0.53;
    color: #f8f8f8;
    text-transform: uppercase; }
  .services__header h2 {
    position: absolute;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.075em;
    color: #ba0000;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }

.services__center__info {
  max-width: 260px; }
  .services__center__info h5 {
    font-size: 1em;
    font-weight: bold;
    line-height: 4;
    letter-spacing: 0.03em;
    color: #ba0000;
    margin: 0; }
  .services__center__info p {
    color: #777777;
    font-size: 0.8em;
    line-height: 1.63;
    letter-spacing: 0.024em;
    width: 265px; }

.services__center__img {
  padding-top: 4em; }

.services__info__continuation {
  direction: rtl;
  width: 6.75em; }
  .services__info__continuation li {
    list-style-image: url(../img/footer_icon.png); }
  .services__info__continuation a {
    color: #222222;
    font-size: 0.8em;
    font-weight: bold;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: 0.024em; }

.services__top__form {
  padding-top: 4em; }
  .services__top__form form {
    background-color: #ba0000;
    padding: 1.5em; }
  .services__top__form h5 {
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.03em;
    color: white;
    margin: 0; }
  .services__top__form hr {
    width: 3.5em;
    padding-top: 0.1em;
    margin: 1.5em 0;
    background-color: #ffcc00;
    border: 0; }
  .services__top__form p {
    font-size: 0.8em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: 0.024em;
    color: white; }

.services__top__fi {
  margin-top: 1.5em; }
  .services__top__fi .btn {
    font-size: 0.8em;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.024em;
    padding: 18px 20px 18px;
    border: 0;
    border-radius: 0; }
  .services__top__fi .btn-danger {
    background-color: #9d0000;
    color: #ffffff; }

.services__top__fi__list {
  background-color: #ffcc00;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-radius: 0; }
  .services__top__fi__list a:hover {
    background-color: transparent;
    color: #ffffff; }
  .services__top__fi__list .dropdown-item.active, .services__top__fi__list .dropdown-item:active {
    background-color: #ba0000; }

.services__top__fb {
  background-color: #ffcc00;
  padding: 15px 21px;
  border: 0;
  color: #ba0000; }
  .services__top__fb:hover {
    background-color: #ffcc00;
    color: #ba0000; }
  .services__top__fb:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffcc00; }

.btn:focus, .btn.focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

.services__top__fbutton {
  padding-top: 1em; }
  .services__top__fbutton .btn {
    border-radius: 2.5em;
    background-color: transparent;
    color: #ffffff;
    font-size: 0.6em;
    font-weight: bold;
    line-height: 2.5;
    letter-spacing: 0.06em;
    padding: 8px 42px;
    border: 2px solid #ffffff;
    text-transform: uppercase; }
    .services__top__fbutton .btn:hover {
      background-color: #ffcc00;
      color: #ba0000;
      border: 2px solid #ffcc00;
      -webkit-box-shadow: 0px 10px 18px 0 rgba(255, 204, 0, 0.4);
      box-shadow: 0px 10px 18px 0 rgba(255, 204, 0, 0.4); }

.about {
  position: relative;
  background-image: url(../img/Layer-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
  min-height: 35em; }

.about:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(64, 63, 63, 0.7);
  background: -moz-linear-gradient(top, rgba(64, 63, 63, 0.7) 0%, rgba(112, 84, 63, 0.7) 50%, rgba(189, 164, 63, 0.7) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64, 63, 63, 0.7)), color-stop(50%, rgba(112, 84, 63, 0.7)), color-stop(100%, rgba(189, 164, 63, 0.7)));
  background: -webkit-linear-gradient(top, rgba(64, 63, 63, 0.7) 0%, rgba(112, 84, 63, 0.7) 50%, rgba(189, 164, 63, 0.7) 100%);
  background: -o-linear-gradient(top, rgba(64, 63, 63, 0.7) 0%, rgba(112, 84, 63, 0.7) 50%, rgba(189, 164, 63, 0.7) 100%);
  background: -ms-linear-gradient(top, rgba(64, 63, 63, 0.7) 0%, rgba(112, 84, 63, 0.7) 50%, rgba(189, 164, 63, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(64, 63, 63, 0.7)), color-stop(50%, rgba(112, 84, 63, 0.7)), to(rgba(189, 164, 63, 0.7)));
  background: linear-gradient(to bottom, rgba(64, 63, 63, 0.7) 0%, rgba(112, 84, 63, 0.7) 50%, rgba(189, 164, 63, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#403f3f', endColorstr='#bda43f', GradientType=0 ); }

.about__header {
  padding-top: 7.5em;
  position: relative; }
  .about__header h1 {
    font-size: 2.5em;
    font-weight: bold;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.075em;
    color: #ffffff; }

.about__center {
  padding-top: 3em;
  text-align: center; }

.btn-play {
  width: 3.5em;
  height: 3.5em;
  background-color: #ffcc00;
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0px 15px 50px -8px #ffcc00;
  -moz-box-shadow: 0px 15px 50px -8px #ffcc00;
  box-shadow: 0px 15px 50px -8px #ffcc00;
  position: relative; }
  .btn-play:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-left: 16px solid #ba0000;
    border-bottom: 9px solid transparent;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .btn-play:hover {
    background-color: #ffcc00; }
  .btn-play:focus {
    background-color: #ffcc00; }

.about__bottom {
  margin-top: -12em; }

.about__bottom__block {
  -webkit-box-shadow: 0px 10px 18px 0 rgba(191, 191, 191, 0.4);
  box-shadow: 0px 10px 18px 0 rgba(191, 191, 191, 0.4);
  background-color: #ffffff;
  margin-top: 40px; }

.about__bottom__text {
  padding: 1.5em; }
  .about__bottom__text h5 {
    font-weight: bold;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #ba0000;
    margin-bottom: 1em; }
  .about__bottom__text img {
    margin: -5px 12px 0 0; }
  .about__bottom__text p {
    font-size: 0.8em;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.024em;
    display: inline-block;
    color: #777777;
    margin: 0; }

.delivery {
  padding: 2.5em 0 5em; }

.delivery__padding {
  padding-top: 2.5em; }

.tab_content {
  font-size: 0.7em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 1.4px; }

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: transparent; }

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  background-color: #ba0000;
  height: 100%;
  -webkit-box-shadow: none;
  box-shadow: none; }

.logistics__second {
  background-color: #ffcc00; }
  .logistics__second .nav-link {
    -webkit-box-shadow: -3px 4px 26px 1px rgba(255, 204, 0, 0.4);
    box-shadow: -3px 4px 26px 1px rgba(255, 204, 0, 0.4);
    position: relative;
    z-index: 1;
    color: #ba0000;
    padding: 12.5px; }

.form__express {
  background-color: #ba0000;
  padding: 40px; }

.find {
  margin-bottom: 1em; }

.find__button[aria-expanded=true],
.find__second[aria-expanded=true] {
  background-color: #ffcc00;
  border: 2px solid #ffcc00;
  color: #ba0000;
  margin: 0; }

.find__button[aria-expanded=true] {
  border-right-color: #ba0000; }

.find__second[aria-expanded=true] {
  border-left: 1px solid #ba0000; }

.find__button, .find__second {
  border: 2px solid #ffffff;
  border-radius: 0;
  background-color: transparent;
  color: #ffffff; }

.find__button {
  font-size: 0.7em;
  font-weight: bold;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.021em;
  width: 90%;
  text-transform: uppercase;
  padding: 11.5px 20px; }

.find__second {
  border-left: 0.05em solid #ffffff;
  border-left-color: transparent;
  width: 2.5em;
  font-size: inherit; }

.find__collapse {
  border: 0.1em solid #ffcc00;
  border-top: 0;
  background-color: #a30000; }

.find__collapse__header {
  font-size: 0.8em;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1.6px;
  color: #ffffff; }

.find__collapse__choice {
  font-size: 0.8em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.48px;
  display: block;
  width: 100%;
  padding-top: 5px;
  color: #ffffff; }
  .find__collapse__choice:hover {
    color: #ffffff; }

.find__collapse__img {
  padding-right: 15px;
  padding-left: 3px; }
  .find__collapse__img img {
    margin-bottom: 6px; }

.delivery__poster {
  width: 23.5em;
  height: 26.75em;
  position: relative; }

.delivery__poster__football {
  position: absolute;
  top: 1.8em;
  left: 1.75em; }
  .delivery__poster__football:before {
    content: '';
    position: absolute;
    width: 21.75em;
    height: 24.95em;
    background: rgba(255, 244, 200, 0);
    background: -moz-linear-gradient(top, rgba(255, 244, 200, 0) 0%, rgba(255, 244, 200, 0.38) 38%, rgba(255, 204, 0, 0.78) 78%, #ffcc00 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 244, 200, 0)), color-stop(38%, rgba(255, 244, 200, 0.38)), color-stop(78%, rgba(255, 204, 0, 0.78)), color-stop(100%, #ffcc00));
    background: -webkit-linear-gradient(top, rgba(255, 244, 200, 0) 0%, rgba(255, 244, 200, 0.38) 38%, rgba(255, 204, 0, 0.78) 78%, #ffcc00 100%);
    background: -o-linear-gradient(top, rgba(255, 244, 200, 0) 0%, rgba(255, 244, 200, 0.38) 38%, rgba(255, 204, 0, 0.78) 78%, #ffcc00 100%);
    background: -ms-linear-gradient(top, rgba(255, 244, 200, 0) 0%, rgba(255, 244, 200, 0.38) 38%, rgba(255, 204, 0, 0.78) 78%, #ffcc00 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 244, 200, 0)), color-stop(38%, rgba(255, 244, 200, 0.38)), color-stop(78%, rgba(255, 204, 0, 0.78)), to(#ffcc00));
    background: linear-gradient(to bottom, rgba(255, 244, 200, 0) 0%, rgba(255, 244, 200, 0.38) 38%, rgba(255, 204, 0, 0.78) 78%, #ffcc00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff4c8', endColorstr='#ffcc00', GradientType=0 ); }
  .delivery__poster__football:after {
    content: '';
    position: absolute;
    width: 7.8em;
    height: 2.5em;
    background-image: url(../img/dhl-logo.png);
    bottom: 0; }

.features {
  background-color: #ba0000;
  color: #ffffff;
  padding: 5em 0; }

.features__text h3 {
  font-size: 1.5em;
  font-weight: 600;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-bottom: 40px; }

.features__text p {
  font-size: 0.8em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.48px; }

.features__button {
  border-radius: 25px;
  background-color: #a00000;
  color: white;
  font-size: 0.6em;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1.2px;
  margin-top: 40px;
  width: 150px;
  height: 50px;
  border: 0; }

.client {
  padding: 3.5em 0; }

.client__button {
  background-color: #f4f4f4;
  border: solid 0.1em rgba(186, 0, 0, 0.1);
  height: 6.5em; }
  .client__button:hover {
    border: 0.1em solid #ba0000; }

.client__button__a {
  display: block;
  padding: 1.75em 0.5em; }

.footer {
  position: relative; }

.footer__left, .footer__right {
  position: relative; }
  .footer__left span, .footer__right span {
    position: absolute;
    display: block;
    height: 100%;
    width: 2em; }

.footer__left {
  float: left; }
  .footer__left span {
    background: #ba0000;
    left: 0; }
  .footer__left .img-responsive {
    margin-left: 2em; }

.footer__right {
  float: right; }
  .footer__right span {
    background: #ffcc00;
    right: 0; }
  .footer__right .img-responsive {
    margin-right: 2em; }

.footer__center {
  padding-top: 3em; }

.footer__contact {
  padding-left: 2.25em; }

.footer__about {
  padding-left: 2.5em; }

.footer__contact, .footer__about, .footer__social {
  text-transform: uppercase; }
  .footer__contact h3, .footer__about h3, .footer__social h3 {
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    color: #ba0000;
    margin-bottom: 2em; }
  .footer__contact .navbar, .footer__about .navbar, .footer__social .navbar {
    display: block;
    padding: 0 1rem; }
  .footer__contact .nav-item, .footer__about .nav-item, .footer__social .nav-item {
    list-style-image: url(../img/footer_icon.png); }
    .footer__contact .nav-item .nav-link, .footer__about .nav-item .nav-link, .footer__social .nav-item .nav-link {
      font-size: 0.7em;
      font-weight: bold;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: 0.42px;
      color: #777777;
      padding: 0; }
      .footer__contact .nav-item .nav-link:hover, .footer__about .nav-item .nav-link:hover, .footer__social .nav-item .nav-link:hover {
        color: #ffcc00; }

.footer__social .nav-item .nav-link:hover {
  color: #017edf; }
