$browser-context: 20;
@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em;
}
@media screen and (min-width: 320px) {
	html,
	body {
		margin: 0;
		overflow-x: hidden;
	}
}

@media screen and (max-width: 320px) {
	html,
	body {
		margin: 0;
		overflow-x: hidden;
	}
}

@for $i from 1 through 60 {
	@media(min-width: 2000px + ($i * 100)) {
		body {
			font-size: 20px + $i !important;
		}
	};
}

@media screen and (max-width: 1500px) {
	
}
@media screen and (max-width: 1280px) {
	
}
@media screen and (max-width: 1200px) {
	
}
@media screen and (max-width: 1024px) {
	.header__center__menu{
		.nav-item{
			padding: 0 5px;
		}
	}
	.about__bottom{
		margin-top: em(-197);
	}
	.about__bottom__text{
		p{
			font-size: em(13);
		}
	}
	.footer__left, .footer__right{
		display: none;
	}
}
@media screen and (max-width: 991px) {
	
}
@media screen and (max-width: 800px) {
	
}
@media screen and (max-width: 768px) {
	.header__top__lang{
		text-align: center;
	}
	.header__center__menu{
		.nav-link{
			padding: em(10);
		}
	}
	.sb-search.sb-search-open, .no-js .sb-search{
		width: 100%;
	}
	.about__header{
		padding-top: em(40);
	}
	.about__bottom{
		margin-top: em(-220);
	}
	.client__button{
		height: 100%;
	}
	.footer__center{
		padding-top: 0;
	}
	.footer__contact, .footer__about{
		padding-left: 0;
	}
}
@media screen and (max-width: 375px) {
	.express__content, 
	.parcel__content, 
	.logist__content, 
	.mail__content, 
	.press__content, 
	.about__content{
		h1{
			font-size: em(45);
		}
	}
	.express__btn, 
	.parcel__btn, 
	.logist__btn, 
	.mail__btn, 
	.press__btn, 
	.about__btn{
		.btn{
			margin-right: em(5);
		}
	}
	.about__header{
		h1{
			font-size: em(30);
		}
	}
	.delivery__poster{
		width: 100%;
		height: inherit;
		img{
			width: 100%;
		}
	}
	.delivery__poster__football{
		width: 100%;
		&:before{
			height: 100%;
		}
		img{
			width: 100%;
		}
	}
	.features__text{
		h3{
			line-height: inherit;
		}
	}
	.client__button{
		margin-top: em(20);
		height: 6.5em;
	}
	.footer__contact, .footer__social, .footer__about{
		padding-left: em(45);
	}
}