@import '../css/bootstrap.css';
@import '../css/bootstrap-grid.min.css';
@import '../fonts/poppins/poppins.css';

//Methods
$browser-context: 20;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//Mixin
@mixin damion($em){
	font: em($em) $damion;
}

//Colors
$black: #130e27;
$white: #ffffff;
$red: #ba0000;
$yellow: #ffcc00;

//Vars
$poppins: Poppins, sans-serif;

body{
	font-family: $poppins;
	font-size: #{$browser-context}px;
	font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
.header__top{
	background-color: $red;
  padding: 10px 0;
  font-size: em(14);
  line-height: 1.71;
  letter-spacing: em(0.42);
  a{
		color: $white;
	}
}
.button__lang, .button__profile{
	background: transparent;
	color: #ffffff;
	padding-left: 0;
	padding-right: 0;
}
.dropdown-toggle{
	box-shadow: none;
	&:hover{
		color: #ffffff;
	}
	&:focus{
		box-shadow: none;
		color: #ffffff;
	}
}
.header__top__lang{
  img{
		width: em(20);
	}
}
.header__tl__menu{
	background-color: $yellow;
	box-shadow: none;
	.dropdown-item{
		background-color: transparent;
		color: #ffffff;
		display: block;
		padding: 0 em(15);
		&:hover{
			color: $black;
			text-decoration: none;
		}
	}
}
.dropdown-toggle:after{
	background-image: url(../img/header_top_icon.png);
	width: 9px;
	height: 5px;
	border: 0;
}
.header__top  .dropdown-toggle[aria-expanded=true]:after{
	background-image: url(../img/header_top_icon.png);
}
.dropdown-toggle[aria-expanded=true]:after{
	background: url(../img/header_bottom_icon.png);
	width: 9px;
	height: 5px;
	border: 0;
}
.header__top__contact{
	.btn{
		padding-left: 0;
		padding-right: 0;
	}
}
.header__top__profile{
	.dropdown-item{
		text-align: center;
	}
	img{
		width: em(50);
		height: em(50);
	}
}
.header__center{
	background-color: $yellow;
	font-size: em(14);
  line-height: 1.71;
  letter-spacing: em(0.42);
  .navbar{
  	padding: 0;
  }
}
.header__center__menu{
  text-transform: uppercase;
  letter-spacing: em(0.42);
  font-weight: bold;
  .active{
		border-bottom: em(4) solid $red;
	}
	.nav-item{
		padding: 0 10px;
	}
	.nav-link{
		color: $red;
		padding: 50px 10px;
	}
}
.sb-search {
	float: right;
	border-radius: em(50);
	position: relative;
	width: 0%;
	min-width: 50px;
	height: 50px;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
.search_second {
	border-radius: em(50);
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: $red;
	height: 50px;
	width: 100%;
	margin: 0;
	z-index: 10;
	padding: em(20) 0 em(20) em(20);
	color: #fff;
}
.search_second::-webkit-input-placeholder {
	color: #fff;
}
.search_second:-moz-placeholder {
	color: #fff;
}
.search_second::-moz-placeholder {
	color: #fff;
}
.search_second:-ms-input-placeholder {
	color: #fff;
}
.search_button_third,
.search_third  {
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
.search_button_third {
	background: $red;
	z-index: 90;
}
.search_button_third img{
	position: absolute;
	top: 35%;
	left: 35%;
}
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 20%;
}
.header__bottom{
	position: relative;
	background-image: url(../img/Layer-3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 100%;
}
.header__bottom:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(45deg, $red, rgba(255, 204, 0, 0.01) 99%);
}
.header__bottom__content{
	min-height: em(800);
	display: flex;
}
.express__content,
.parcel__content,
.logist__content,
.mail__content,
.press__content,
.about__content{
	color: $white;
	h1{
		font-size: em(70);
	  font-weight: bold;
	  font-style: normal;
	  line-height: 1.14;
	  letter-spacing: em(2.1);
		margin: 0;
	}
	hr{
		width: em(100);
		background-color: $yellow;
		padding-top: em(4);
		margin: em(40) 0;
		border: 0;
	}
	p{
		color: $yellow;
		margin: 0;
		line-height: 1.5;
  	letter-spacing: em(0.6);
	}
	h4{
		font-size: em(20);
		margin-top: 40px;
		line-height: 1.5;
  	letter-spacing: em(0.6);
  	text-transform: uppercase;
	}
	span{
		color: $yellow;
		padding: 0 em(20);
	}
}
.express__btn,
.parcel__btn,
.logist__btn,
.mail__btn,
.press__btn,
.about__btn{
	padding-top: 20px;
	.btn{
		border-radius: em(50);
		background-color: transparent;
		color: $white;
		font-size: em(12);
		line-height: 2.5;
  	letter-spacing: em(1.2);
		padding: 8px 30px;
		border: 2px solid $white;
		margin-top: 20px;
		margin-right: 20px;
		text-transform: uppercase;
		&:hover{
			background-color: $yellow;
			color: $red;
			border: 2px solid $yellow;
			box-shadow: 0px 10px 18px 0 rgba(255, 204, 0, 0.4);
		}
	}
}

.services{
	padding: em(100) 0;
}
.services__header{
	position: relative;
	h1{
		font-size: em(150);
		font-weight: bold;
		line-height: 0.53;
  	color: #f8f8f8;
  	text-transform: uppercase;
	}
	h2{
		position: absolute;
		font-size: em(50);
		font-weight: bold;
		line-height: 1.6;
  	letter-spacing: em(1.5);
  	color: $red;
  	top: 50%;
  	transform: translate(0, -50%);
	}
}
.services__center__info{
	max-width: 260px;
	h5{
		font-size: em(20);
		font-weight: bold;
		line-height: 4;
	  letter-spacing: em(0.6);
		color: $red;
		margin: 0;
	}
	p{
		color: #777777;
		font-size: em(16);
		line-height: 1.63;
  	letter-spacing: em(0.48);
  	width: 265px;
	}
}
.services__center__img{
	padding-top: em(80);
} 
.services__info__continuation{
	direction: rtl;
	width: em(135);
	li{
		list-style-image: url(../img/footer_icon.png)
	}
	a{
		color: #222222;
		font-size: em(16);
		font-weight: bold;
	  font-style: normal;
	  line-height: 1.63;
	  letter-spacing: em(0.48);
	}
}
.services__top__form{
	padding-top: em(80);
	form{
		background-color: $red;
		padding: em(30);
	}
	h5{
		font-size: em(20);
	  font-weight: bold;
	  font-style: normal;
	  letter-spacing: em(0.6);
		color: white;
		margin: 0;
	}
	hr{
		width: em(70);
		padding-top: em(2);
		margin: em(30) 0;
		background-color: $yellow;
		border: 0;
	}
	p{
		font-size: em(16);
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.63;
	  letter-spacing: em(0.48);
		color: white;
	}
}
.services__top__fi{
	margin-top: em(30);
	.btn{
		font-size: em(16);
	  font-weight: normal;
	  font-style: normal;
	  letter-spacing: em(0.48);
		padding: 18px 20px 18px;
		border: 0;
		border-radius: 0;
	}
	.btn-danger{
		background-color: #9d0000;
		color: $white;
	}
}
.services__top__fi__list{
	background-color: $yellow;
	box-shadow: none;
	border: 0;
	border-radius: 0;
	a:hover{
		background-color: transparent;
		color: #ffffff;
	}
	.dropdown-item.active, .dropdown-item:active{
		background-color: $red;
	}
}
.services__top__fb{
	background-color: $yellow;
	padding: 15px 21px;
	border: 0;
	color: $red;
	&:hover{
		background-color: $yellow;
		color: $red;
	}
	&:focus{
		box-shadow: none;
		background-color: $yellow;
	}
}
.btn:focus, .btn.focus{
	box-shadow: none;
}
.services__top__fbutton{
	padding-top: em(20);
	.btn{
		border-radius: em(50);
		background-color: transparent;
		color: $white;
		font-size: em(12);
		font-weight: bold;
		line-height: 2.5;
		letter-spacing: em(1.2);
		padding: 8px 42px;
		border: 2px solid $white;
		text-transform: uppercase;
		&:hover{
			background-color: $yellow;
			color: $red;
			border: 2px solid $yellow;
			box-shadow: 0px 10px 18px 0 rgba(255, 204, 0, 0.4);
		}
	}
}
.about{
	position: relative;
	background-image: url(../img/Layer-6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
  background-position: 100% 50%;
  min-height: em(700);
}
.about:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(64,63,63,0.7);
	background: -moz-linear-gradient(top, rgba(64,63,63,0.7) 0%, rgba(112,84,63,0.7) 50%, rgba(189,164,63,0.7) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64,63,63,0.7)), color-stop(50%, rgba(112,84,63,0.7)), color-stop(100%, rgba(189,164,63,0.7)));
	background: -webkit-linear-gradient(top, rgba(64,63,63,0.7) 0%, rgba(112,84,63,0.7) 50%, rgba(189,164,63,0.7) 100%);
	background: -o-linear-gradient(top, rgba(64,63,63,0.7) 0%, rgba(112,84,63,0.7) 50%, rgba(189,164,63,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(64,63,63,0.7) 0%, rgba(112,84,63,0.7) 50%, rgba(189,164,63,0.7) 100%);
	background: linear-gradient(to bottom, rgba(64,63,63,0.7) 0%, rgba(112,84,63,0.7) 50%, rgba(189,164,63,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#403f3f', endColorstr='#bda43f', GradientType=0 );
}
.about__header{
	padding-top: em(150);
	position: relative;
	h1{
		font-size: em(50);
	  font-weight: bold;
	  font-style: normal;
	  line-height: 1.6;
	  letter-spacing: em(1.5);
		color: $white;
	}
}
.about__center{
	padding-top: em(60);
	text-align: center;
}
.btn-play{
	width: em(70);
	height: em(70);
	background-color: $yellow;
	border: 0;
	border-radius: 50%;
	-webkit-box-shadow: 0px 15px 50px -8px rgba(255,204,0,1);
	-moz-box-shadow: 0px 15px 50px -8px rgba(255,204,0,1);
	box-shadow: 0px 15px 50px -8px rgba(255,204,0,1);
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 0; 
		height: 0;
		border-top: 9px solid transparent;
		border-left: 16px solid $red;
		border-bottom: 9px solid transparent;
		transform: translate(-50%, -50%);
	}
	&:hover{
		background-color: $yellow;
	}
	&:focus{
		background-color: $yellow;
	}
}
.about__bottom{
	margin-top: em(-240);
}
.about__bottom__block{
	box-shadow: 0px 10px 18px 0 rgba(191, 191, 191, 0.4);
  background-color: $white;
	margin-top: 40px;
}
.about__bottom__text{
	padding: em(30);
	h5{
	  font-weight: bold;
	  font-style: normal;
	  line-height: 1.2;
	  letter-spacing: em(0.6);
		color: $red;
		margin-bottom: em(20);
	}
	img{
		margin: -5px 12px 0 0;
	}
	p{
		font-size: em(16);
	  font-weight: normal;
	  font-style: normal;
	  line-height: 1.5;
	  letter-spacing: em(0.48);
		display: inline-block;
		color: #777777;
		margin: 0;
	}
}
.delivery{
	padding: em(50) 0 em(100);
}
.delivery__padding{
  padding-top: em(50);
}
.tab_content{
	font-size: em(14);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 1.4px;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
	border-color: transparent;
}
.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link,
.nav-tabs.nav-justified > .active > a, 
.nav-tabs.nav-justified > .active > a:hover, 
.nav-tabs.nav-justified > .active > a:focus{
	color: $white;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	background-color: $red;
	height: 100%;
	box-shadow: none;
}
.logistics__second{
	background-color: #ffcc00;
	.nav-link{
		box-shadow: -3px 4px 26px 1px rgba(255,204,0,0.4);
		position: relative;
		z-index: 1;
		color: $red;
		padding: 12.5px;
	}
}
.form__express{
	background-color: #ba0000;
	padding: 40px;
}
.find{
	margin-bottom: em(20);
}
.find__button[aria-expanded=true],
.find__second[aria-expanded=true]{
	background-color: #ffcc00;
	border: 2px solid #ffcc00;
	color: #ba0000;
	margin: 0;
}
.find__button[aria-expanded=true]{
	border-right-color: #ba0000;
}
.find__second[aria-expanded=true]{
	border-left: 1px solid #ba0000;
}
.find__button, .find__second{
	border: 2px solid $white;
	border-radius: 0;
	background-color: transparent;
	color: $white;
}
.find__button{
	font-size: em(14);
  font-weight: bold;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: em(0.42);
	width: 90%;
	text-transform: uppercase;
	padding: 11.5px 20px;
}
.find__second{
	border-left: em(1) solid $white;
	border-left-color: transparent;
	width: em(50);
	font-size: inherit;
}
.find__collapse{
	border: em(2) solid #ffcc00;
	border-top: 0;
	background-color: #a30000;
}
.find__collapse__header{
	font-size: em(16);
  font-weight: bold;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1.6px;
  color: $white;
}
.find__collapse__choice{
	font-size: em(16);
  font-weight: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.48px;
	display: block;
	width: 100%;
	padding-top: 5px;
	color: $white;
	&:hover{
		color: $white;
	}
}
.find__collapse__img{
	padding-right: 15px;
	padding-left: 3px;
	img{
		margin-bottom: 6px;
	}
}
.delivery__poster{
	width: em(470);
	height: em(535);
	position: relative;
}
.delivery__poster__football{
	position: absolute;
	top: em(36);
	left: em(35);
	&:before{
		content: '';	
	  position: absolute;
	  width: em(435);
	  height: em(499);
	  background: rgba(255,244,200,0);
		background: -moz-linear-gradient(top, rgba(255,244,200,0) 0%, rgba(255,244,200,0.38) 38%, rgba(255,204,0,0.78) 78%, rgba(255,204,0,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,244,200,0)), color-stop(38%, rgba(255,244,200,0.38)), color-stop(78%, rgba(255,204,0,0.78)), color-stop(100%, rgba(255,204,0,1)));
		background: -webkit-linear-gradient(top, rgba(255,244,200,0) 0%, rgba(255,244,200,0.38) 38%, rgba(255,204,0,0.78) 78%, rgba(255,204,0,1) 100%);
		background: -o-linear-gradient(top, rgba(255,244,200,0) 0%, rgba(255,244,200,0.38) 38%, rgba(255,204,0,0.78) 78%, rgba(255,204,0,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,244,200,0) 0%, rgba(255,244,200,0.38) 38%, rgba(255,204,0,0.78) 78%, rgba(255,204,0,1) 100%);
		background: linear-gradient(to bottom, rgba(255,244,200,0) 0%, rgba(255,244,200,0.38) 38%, rgba(255,204,0,0.78) 78%, rgba(255,204,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff4c8', endColorstr='#ffcc00', GradientType=0 );
	}
	&:after{
		content: '';
	  position: absolute;
	  width: em(156);
	  height: em(50);
		background-image: url(../img/dhl-logo.png);
		bottom: 0;
	}
}
.features{
	background-color: $red;
	color: $white;
	padding: em(100) 0;
}
.features__text{
	h3{
		font-size: em(30);
	  font-weight: 600;
	  font-style: normal;
	  line-height: 0.8;
	  letter-spacing: 0.9px;
	  text-transform: uppercase;
	  margin-bottom: 40px;
	}
	p{
		font-size: em(16);
	  font-weight: normal;
	  font-style: normal;
	  line-height: 1.5;
	  letter-spacing: 0.48px;
	}
}
.features__button{
	border-radius: 25px;
	background-color: #a00000;
	color: white;
	font-size: em(12);
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1.2px;
  margin-top: 40px;
  width: 150px;
  height: 50px;
  border: 0;
}
.client{
	padding: em(70) 0;
}
.client__button{
	background-color: #f4f4f4;
	border: solid em(2) rgba(186, 0, 0, 0.1);
	height: em(130);
	&:hover{
		border: em(2) solid #ba0000;
	}
}
.client__button__a{
	display: block;
	padding: em(35) em(10);
}

.footer{
	position: relative;
}
.footer__left, .footer__right{
	position: relative;
	span{
		position: absolute;
		display: block;
		height: 100%;
		width: em(40);
	}
}
.footer__left{
	float: left;
	span{
		background: $red;
		left: 0;
	}
	.img-responsive{
		margin-left: em(40);
	}
}
.footer__right{
	float: right;
	span{
		background: $yellow;
		right: 0;
	}
	.img-responsive{
		margin-right: em(40);
	}
}
.footer__center{
	padding-top: em(60);
}
.footer__contact{
	padding-left: em(45);
}
.footer__about{
	padding-left: em(50);
}
.footer__contact, .footer__about, .footer__social{
	text-transform: uppercase;
	h3{
		font-size: em(20);
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.2;
	  letter-spacing: 0.6px;
		color: $red;
		margin-bottom: em(40);
	}
	.navbar{
		display: block;
		padding: 0 1rem;
	}
	.nav-item{
		list-style-image: url(../img/footer_icon.png);
		.nav-link{
			font-size: em(14);
		  font-weight: bold;
		  font-style: normal;
		  line-height: 1.71;
		  letter-spacing: 0.42px;
		  color: #777777;
		  padding: 0;
		  &:hover{
		  	color: $yellow;
		  }
		}
	}
}
.footer__social{
	.nav-item{
		.nav-link{
		  &:hover{
		  	color: #017edf;
		  }
		}
	}
}